@mixin  gradient-text {
    font-family: 'Darker Grotesque', sans-serif;
    background: linear-gradient(92.5deg, #376FFF 6.01%, #A25EB9 58.22%, #FF4F79 106.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.title-1{
    font-size: 9rem;
    @include gradient-text
}

.title-2{
    font-size: 7rem;
    @include gradient-text
}

.title-3{
   font-size: 7rem;
   color: white;
   font-family: 'Darker Grotesque', sans-serif;
   line-height: 6.5rem;
}

.summary-1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.txt-center{
    text-align: center;
}