.input-field-1{
    height: 8.4rem;
    width: 36.69rem;
    border: 3px solid rgba(196, 196, 196, 0.28);
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    padding-left: 2rem; 
}