@import './stylesheets/fonts.scss';
@import './stylesheets/buttons.scss';
@import './stylesheets/spacing.scss';
@import './stylesheets/layout.scss';

* {
  margin: 0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}